* {
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  height: 70px;
  z-index: 2;
  align-items: center;
  position: fixed;
  overflow: hidden;
  background: white;
}
.flex {
  display: flex;
}
.hamburger_icon {
  margin-right: 20px;
  cursor: pointer;
  padding: 0px 20px;
}
.search_bar {
  justify-content: center;
}
.search_icon {
  position: relative;
  right: 40px;
  cursor: pointer;
  background: rgb(248, 248, 248);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 70px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(112, 112, 112);
}
.search_icon > img {
  width: 30px;
}
#search {
  border: 1px solid rgb(112, 112, 112);
  width: 70%;
  height: 0px;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  font-size: 1.2rem;
}
.profile_upload_notification {
  justify-content: end;
  padding-right: 40px;
}
.left {
  margin-left: 20px;
}
aside {
  position: fixed;
  height: 90%;
  margin-top: 70px;
  width: 250px;
  overflow-y: auto;
}
#aside {
  position: fixed;
  height: 90%;
  margin-top: 70px;
  width: 100px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.leftNavbar_scroll {
  display: block;
}
hr {
  border: 0.5px solid rgb(229, 229, 229);
  margin: 10px 0px;
}
.name {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left_navbar {
  cursor: pointer;
  margin-left: 20px;
  padding: 0px 10px;
}
.left_navbar_icon {
  cursor: pointer;
  padding: 0px 10px;
  margin: 10px 14px;
}
.left_navbar_icon img {
  width: 30px;
}
.left_navbar:hover {
  background: rgb(242, 242, 242);
  border-radius: 10px;
}
.left_aside {
  margin-left: 22px;
}
.block {
  display: none;
}

section {
  padding-top: 100px;
  padding-left: 271px;
}

/* CSS styles for the video container */
#video_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 110px;
}
.banner img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 100px;
}
.logo {
  display: flex;
  word-wrap: break-word;
  width: 400px;
  font-weight: 700;
  /* margin: 10px; */
}
.channel_name {
  margin-left: 60px;
  color: rgb(114, 114, 114);
  margin-bottom: 5px;
  cursor: pointer;
}
.views {
  display: flex;
}
.time {
  margin-left: 10px;
}
#video_container > div {
  margin: 10px;
}

/* search result video css  */

.profile img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 50px;
}
.thumbnail {
  display: flex;
  margin-bottom: 20px;
}
.video-thumbnail {
  cursor: pointer;
  width: 360px;
  border-radius: 10px;
}
.content_description {
  margin-left: 15px;
}
.title {
  margin-bottom: 10px;
  font-weight: 900;
  cursor: pointer;
}
.Search_views {
  display: flex;
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.profile {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
iframe {
  width: 900px;
  height: 500px;
  border: none;
}
#thumbnailPlaying_videos {
  position: absolute;
  width: 900px;
  left: 80px;
  top: 100px;
}
.profile_playing_videos img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 50px;
}
.profile_playing_videos {
  display: flex;
}

.title_video_playing {
  font-size: 1rem;
  font-weight: bolder;
  margin: 10px 0px;
  display: block;
}
.playingVideos_Channel_name {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1.2rem;
}
#video_playing_Subscribe {
  background: #000;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 20px;
  outline: none;
  border: none;
  font-weight: 900;
  word-spacing: 10px;
  cursor: pointer;
}
.profile_playing_videos_layer_like_dislike{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.like_dislike_share_row{
  justify-self: end;
  display: flex;
}
.like_dislike{
  background: rgb(221, 221, 221);
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like{
  margin-right: 10px;
}
.dislike{
  margin-left: 10px;
}
.share{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(221, 221, 221);
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.share_share{
  margin-left: 5px;
}
#download_downlaod{
  color: rgb(130, 130, 130);  
}
.video_playing_decription{
  margin-top: 10px;
  padding: 10px;
}
.video_playing_views_time{
  display: flex;
  margin-bottom: 10px;
}
.video_playing_views{
  margin-right: 20px;
}
.videoplaying_descrption{
  background: rgb(212, 212, 212);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.comments_profile img{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.comments_profile input{
  border-top: #000;
  border-left: #000;
  border-right: #000;
  outline: none;
  width: 700px;
  padding: 5px 20px;
}
.comments_profile{
  display: flex;
  align-items: center;
}
.comments_padding{
  margin-left: 20px;
  display: flex;
}
.comments_padding button{
  border: none;
  cursor: pointer;
  background-color: white;
}